.App {
    position: absolute;
    top: 5%;
    right: 20%;
    left: 20%;
    bottom: 0;
}

.map {
    width: 100%;
    height: 60%;
}

.location {
    height: 54px;
    margin-top: 3px;
    background-color: #F2F2F2;
}

.locationName {
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.viewBtn {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
}

.delBtn {
    background-color: #f44336;
    color: #ffffff;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
}

.addBtn {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    margin-left: 5px;
}

h1 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    color: #000000;
}
